.main {
    height: 94vh;
    width: 100vw;
    font-size: 10em; 
    text-align: center; 
}
html {
    font-size: 20px;
  }

@media screen and (min-width: 576px) {
    .main {
        font-size: 15em; 
    }
}

@media screen and (min-width: 768px) {
    .main {
        font-size: 20em;
    }
}

@media screen and (min-width: 992px) {
    .main {
        font-size: 25em;
    }
}