<div class="d-flex flex-column flex-justify-center w-100 fg-light text-center">
<table class="table compact table-border cell-border striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Hash</th>
            <th>Nonce</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blocks reversed%}
            <tr>
                <td>1</td>
                <td> {{ block.hash }} </td>
                <td> {{ block.nonce}} </td>
                <td> {{ block.msg }} </td>
                <td> {{ block.time }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


