<div class="d-flex flex-column flex-justify-center w-100 fg-light text-center">
<table class="table compact table-border cell-border striped fg-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Hash</th>
            <th style="color: #eee8aa" class="bd-dark bg-red fg-white">Nonce</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blocks reversed%}
            <tr>
                <td  class="bd-dark">1</td>
                <td class="bd-dark"> {{ block.hash }} </td>
                <td class="bd-dark bg-red fg-white"> {{ block.nonce}} </td>
                <td class="bd-dark"> {{ block.msg }} </td>
                <td class="bd-dark"> {{ block.time }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


