<!DOCTYPE html>

  {% include "head.html" %}

  <body class="bg-dark">

      <!-- Body -->
        <div class="container">
          <div class="d-flex flex-row flex-align-start" style="height: 100vh;">
              <div class="d-flex flex-column flex-justify-center w-100 fg-light text-center">
                  <div class="border bd-light">
                    <p>Hash</p>
                  </div>
                  {% for block in blocks %}
                  <div class="border bd-light">
                      <p>{{ block.hash }}</p>
                    </div>
                  {% endfor %}
              </div>
              <div class="d-flex flex-column flex-justify-center w-100 fg-light text-center">
                  <div class="border bd-light">
                    <p>Message</p>
                  </div>
                  {% for block in blocks reversed%}
                  <div class="border bd-light">
                      <p>{{ block.msg }}</p>
                    </div>
                  {% endfor %}
              </div>
              <div class="d-flex flex-column flex-justify-center w-100 fg-light text-center">
                  <div class="border bd-light">
                    <p style="color: #eee8aa;">Nonce</p>
                  </div>
                  {% for block in blocks reversed%}
                  <div class="border bd-light">
                      <p style="color: #eee8aa;">{{ block.nonce }}</p>
                    </div>
                  {% endfor %}
              </div>

        </div>
  </body>
  <style>

      html {
        font-size: 12px;
      }

      @media screen and (min-width: 576px) {
        html {
          font-size: 14px;
        }
      }

      @media screen and (min-width: 768px) {
        html {
          font-size: 16px;
        }
      }

      @media screen and (min-width: 992px) {
        html {
          font-size: 20px;
        }
      }
      
  </style>
</html>