<!DOCTYPE html>

  {% include "head.html" %}

  <body class="bg-dark">

      <!-- Body -->
        <div class="container">
          <div class="d-flex flex-row flex-align-start" style="height: 100vh;">

            {% if blocks.count != 0 %}

                {% include "blocks_table.html" %}

            {% else %}

              <div class="icon-box border bd-default">
                  <div class="icon bg-red fg-white"><span class="mif-cog"></span></div>
                  <div class="content p-4">
                      <div class="text-upper">Error!</div>
                      <div class="text-upper text-bold text-lead">Something go wrong...</div>
                  </div>
              </div>

            {% endif %}
        </div>
  </body>
  <style>

      html {
        font-size: 12px;
      }

      @media screen and (min-width: 576px) {
        html {
          font-size: 14px;
        }
      }

      @media screen and (min-width: 768px) {
        html {
          font-size: 16px;
        }
      }

      @media screen and (min-width: 992px) {
        html {
          font-size: 20px;
        }
      }
      
  </style>
</html>