<!DOCTYPE html>

  {% include "head.html" %}

  <body class="bg-dark">

      <!-- Body -->
        <ul>
            {% for block in blocks %}
                <li>{{ block.name }}</li>
            {% endfor %}
        </ul>
  </body>
  <style>

      html {
        font-size: 12px;
      }

      @media screen and (min-width: 576px) {
        html {
          font-size: 14px;
        }
      }

      @media screen and (min-width: 768px) {
        html {
          font-size: 16px;
        }
      }

      @media screen and (min-width: 992px) {
        html {
          font-size: 20px;
        }
      }
      
  </style>
</html>