<div class="d-flex flex-column flex-justify-center w-100 fg-light text-center">
<table class="table compact striped fg-dark">
    <thead>
        <tr>
            <th class="fg-light bg-grayMouse">#</th>
            <th class="fg-light bg-grayMouse">Hash</th>
            <th class="fg-light bg-grayMouse">Nonce</th>
            <th class="fg-light bg-grayMouse">Message</th>
            <th class="fg-light bg-grayMouse">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blocks reversed%}
            <tr>
                <td  class="bd-dark secondary bg-grayMouse"> {{ block.id }}</td>
                <td class="bd-dark secondary bg-grayMouse"> {{ block.hash }} </td>
                <td class="bd-dark secondary fg-white"> {{ block.nonce}} </td>
                <td class="bd-dark secondary bg-grayMouse"> {{ block.msg }} </td>
                <td class="bd-dark secondary bg-grayMouse"> {{ block.time }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


