{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Metro CSS -->
      <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

    <!-- Metro JS -->
      <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <title>MbIШb</title>
  </head>

<!-- Menu -->
<ul class="h-menu bg-dark fg-light border-visible-none" style="box-shadow: none;">
    <li><a href={% url 'index' %}>Home</a></li>
    <li><a href={% url 'Blocks' %}>Blocks</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Cart</a></li>
</ul>